@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4 {
    font-family: 'Bebas Neue', sans-serif;
}

p {    
    text-align: justify;
    /* font-size: larger; */
}

.bodySection {
    max-width: 1200px;
    padding: 0 2em;
    margin: 2em auto;
}

/* TABELA PROGRAMAÇÃO */
.periodBlock {
    margin-top: 2em;
    padding-bottom: 1em;
    box-shadow: rgba(123, 123, 131, 0.3) 0px 2px 0px 0px;
}

.dateBig {
    color: #FFCC0E;
    font-weight: bolder;
    font-size: 4em;
    margin: 0;
}

.dateSmall {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 0.5em 0;
}

.themeIcon {
    width: 70px;    
    margin: 0 0 0.5em 0;
}

.themeTitle {
    /* color: #e6b710; */
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 0.5em 0;
}

ul {
    margin: 0 auto;
    width: 80%;
}

li {
    /* list-style-type: "→  "; */
    list-style-type: "✓  ";
    
}

/* FOOTER */
footer {
    text-align: center;
    line-height: 80px;
    height: 80px;
    background-color: rgb(209, 209, 209);
}

@media (min-width: 600px) {
    .logoFalaVoz {
        max-width: 25%;
        margin-bottom: 0 !important;
    }

    .marciaPerfil {
        width: 150px;
        border-radius: 50%;
        margin: 1em 0 0 0;
    }

    .headerImg {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .logoFalaVoz {
        max-width: 60%;
        margin-bottom: 0 !important;
    }

    .marciaPerfil {
        width: 150px;
        border-radius: 50%;
        margin: 0 0 0.5em 0;
    }
}

